astroid==2.5.2
certifi==2020.4.5.1
dnspython==2.1.0
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
pylint==2.7.4
pymongo==3.11.4
python-dotenv==0.17.1
python-http-client==3.3.2
sendgrid==6.7.0
starkbank-ecdsa==1.1.0
toml==0.10.2
wrapt==1.12.1
